/*Schrijf hier jouw CSS*/

body{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    min-height: 100vh;
}
.col-1{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    width: 10vw;
}
.col-2{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}

main{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
header{
    display: flex;
    flex-basis: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

footer{
    display: flex;
    min-height: 10vh;
    flex-grow: 0;
    flex-shrink: 0;
}